.quienes-somos {
  width: 100%;
  @include flex(column, none, center, 42px);
  margin: 80px 0;
  .contenedor-imagen {
    width: 450px;
    height: 250px;
  }
  img {
    width: 450px;
    height: 250px;
    object-fit: cover;
  }
}
.parrafos-descriptivos {
  width: MIN(1200px, 90%);
  @include flex(none, center, center, 42px);
  p {
    width: 450px;
    font-family: "Poppins", sans-serif;
  }
}