$font-size:(
    size12: 0.75rem,
    size14: 0.875rem,
    size22: 1.375rem,
    size24: 1.5rem,
    size30: 1.875rem,
    size32: 2rem,
    size50: 3.125rem,
    size99: 6.188rem,
    size128: 128px
);

$font-weight:(
    s: lighter,
    m: 200,
    l: 400,
    xl: 600
);